body {
  background-color: grey;
}
#root {
  color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.episodeContainer {
  align-items: center;
  border-radius: 8px;
  background-color: white;
  margin: 6px;
  text-align: center;
  width: 25%;
}
h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  margin: 0 0 2rem 0;
}
img {
  margin: 5px;
  height: auto;
  border-radius: 5px;
}
p {
  padding: 3px;
  margin: 0;
  text-justify: auto;
}
.information {
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 10px;
}
