body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
#root {
  display: flex;
  flex-direction: column;
}
.container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search {
  width: 80%;
  display: flex;
  align-self: center;
  margin-top: 20px;
  padding: 5px;
  border: 2px double black;
}
.searchEpisode {
  text-align: center;
  margin-top: 30px;
}
.episodeContainer {
  border-radius: 8px;
  background-color: white;
  margin: 20px;
  text-align: center;
  width: 25%;
  display: block;
}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  border-style: outset;
  border-radius: 8px;
  margin: 0 0 2rem 0;
}

img {
  width: 90%;
  border-radius: 5px;
}
p {
  padding-left: 10px;
  padding-right: 5px;
  text-align: left;
}
#tvLink {
  text-align: center;
}
.mySelect {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 758px) {
  .episodeContainer {
    width: 90%;
    margin: 10px;
  }
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
  #tvLink {
    text-align: center;
  }
  .mySelect {
    width: 60%;
  }
  .search {
    flex-direction: column;
    align-items: center;
  }
}
