body {
  background-color: lightgray;
}
#root {
  color: black;
  width: 100%;
  display: flex;
  margin: 60px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.episodeContainer {
  align-items: center;
  border-radius: 8px;
  background-color: white;
  margin: 10px;
  text-align: center;
  width: 25%;
}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  border-style: outset;
  border-radius: 8px;
  margin: 0 0 2rem 0;
}
img {
  margin: 5px;
  height: auto;
  border-radius: 5px;
}
p {
  padding: 3px;
  margin: 0;
  text-justify: auto;
}
input[type='text'] {
  margin: 20px;
  height: 30px;
  border: 2px solid lightgray;
}
